html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tfoot,
thead,
th,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
:focus {
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  height: 100%;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'ElektraPro';
  src: url('../fonts/ElektraTextPro.eot?#iefix') format('embedded-opentype'), url('../fonts/ElektraTextPro.otf') format('opentype'), url('../fonts/ElektraTextPro.woff') format('woff'), url('../fonts/ElektraTextPro.ttf') format('truetype'), url('../fonts/ElektraTextPro.svg#ElektraTextPro') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ElektraPro';
  src: url('../fonts/ElektraTextPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ElektraTextPro-Bold.otf') format('opentype'), url('../fonts/ElektraTextPro-Bold.woff') format('woff'), url('../fonts/ElektraTextPro-Bold.ttf') format('truetype'), url('../fonts/ElektraTextPro-Bold.svg#ElektraTextPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ElektraPro';
  src: url('../fonts/ElektraLightPro.eot?#iefix') format('embedded-opentype'), url('../fonts/ElektraLightPro.otf') format('opentype'), url('../fonts/ElektraLightPro.woff') format('woff'), url('../fonts/ElektraLightPro.ttf') format('truetype'), url('../fonts/ElektraLightPro.svg#ElektraLightPro') format('svg');
  font-weight: lighter;
  font-style: normal;
}
@-webkit-keyframes showMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes showMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  font-size: 42px;
  font-weight: lighter;
  margin: 0 0 18px 0;
}
h3 {
  font-size: 36px;
}
a {
  color: #0065b1;
  text-decoration: underline;
}
html,
body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'ElektraPro', Arial, sans-serif;
  font-size: 14px;
  color: #000;
}
.wrapper {
  display: block;
  margin: auto;
  width: 980px;
}
.wrapper--auto-height {
  height: 115px;
  font-size: 0;
}
.wrapper--auto-height:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 100%;
  margin: 0 0 0 -1px;
}
.section {
  clear: both;
  display: block;
  width: 100%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section--main {
  height: 500px;
  background-image: url('../images/main-bg.jpg');
  border-top: 7px solid #bfc7dc;
  border-bottom: 7px solid #bfc7dc;
}
.section--content {
  padding: 70px 0 50px 0;
  background: #f5f7f9;
  margin: 0 0 70px 0;
}
.section--news {
  padding: 70px 0 85px 0;
  background: #f5f7f9;
  border-top: 20px solid #eceff5;
}
header {
  display: block;
  height: 195px;
}
.header {
  display: block;
}
.header--top {
  height: 80px;
  background: #1e3785;
  color: #fff;
}
.header--bottom {
  height: 115px;
}
.topmenu {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.topmenu__item {
  display: inline-block;
  vertical-align: top;
  padding: 25px 27px;
  position: relative;
}
.topmenu__item:hover .topmenu-deep {
  display: block;
}
.topmenu__item > a {
  clear: both;
  display: block;
  overflow: hidden;
  line-height: 30px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  padding: 0;
  background-image: -webkit-linear-gradient(#1e3785 50%, #1e3785 50%), -webkit-linear-gradient(rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 50%);
  background-image: -o-linear-gradient(#1e3785 50%, #1e3785 50%), -o-linear-gradient(rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 50%);
  background-image: linear-gradient(#1e3785 50%, #1e3785 50%), linear-gradient(rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 50%);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 0 .1em, 100% .1em;
  -webkit-transition: background-size 0.1s;
  -moz-transition: background-size 0.1s;
  transition: background-size 0.1s;
}
.topmenu__item:hover {
  padding: 0;
}
.topmenu__item:hover > a {
  padding: 25px 27px;
  background-size: 70% .063em, 70% .063em;
  background-image: none;
  background-color: #15265b;
}
.topmenu-deep {
  display: none;
  list-style: none;
  min-width: 400px;
  margin: 0;
  padding: 14px 0;
  position: absolute;
  top: 84px;
  left: 0;
  background: #fff;
  box-shadow: 0 1px 24px 0 rgba(43, 52, 82, 0.35);
  -webkit-animation: showMenu .5s 1;
  animation: showMenu .5s 1;
}
.topmenu-deep:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: -10px;
  height: 15px;
}
.topmenu-deep__item {
  clear: both;
  display: block;
  overflow: hidden;
}
.topmenu-deep__item a {
  clear: both;
  display: block;
  overflow: hidden;
  line-height: 18px;
  padding: 9px 25px;
  position: relative;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  background: transparent;
  font-weight: lighter;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.topmenu-deep__item a:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  left: 25px;
  right: 25px;
  background: #979797;
  opacity: .16;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.topmenu-deep__item a:hover {
  color: #fff;
  text-decoration: none;
  background: #15265b;
}
.topmenu-deep__item a:hover:after {
  opacity: 0;
}
.topmenu-deep__item:last-child a:after {
  display: none;
}
.logo {
  display: inline-block;
  width: 70%;
  vertical-align: middle;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  font-weight: bold;
}
.logo:hover {
  text-decoration: none;
  color: #000;
}
.header-contacts {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  text-align: right;
  font-size: 11px;
  color: #45435a;
}
.header-contacts__phone {
  font-size: 21px;
  color: #0065b1;
  line-height: 24px;
  text-decoration: none;
}
.header-contacts__phone:hover {
  color: #0065b1;
  text-decoration: none;
}
.header-contacts__worktime {
  font-size: 11px;
  color: #45435a;
  font-weight: lighter;
}
.content p {
  font-size: 14px;
  line-height: 21px;
  font-weight: lighter;
  margin: 0 0 24px 0;
}
.content p a {
  text-decoration: none;
  background-image: -webkit-linear-gradient(#0065b1 50%, #0065b1 50%), -webkit-linear-gradient(#d9e6f0 50%, #d9e6f0 50%);
  background-image: -o-linear-gradient(#0065b1 50%, #0065b1 50%), -o-linear-gradient(#d9e6f0 50%, #d9e6f0 50%);
  background-image: linear-gradient(#0065b1 50%, #0065b1 50%), linear-gradient(#d9e6f0 50%, #d9e6f0 50%);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 0 .1em, 100% .1em;
}
.content p a:hover {
  background-size: 100% .1em, 100% .1em;
}
.readmore {
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 2px;
  text-decoration: none;
  background-image: -webkit-linear-gradient(#0065b1 50%, #0065b1 50%), -webkit-linear-gradient(#d9e6f0 50%, #d9e6f0 50%);
  background-image: -o-linear-gradient(#0065b1 50%, #0065b1 50%), -o-linear-gradient(#d9e6f0 50%, #d9e6f0 50%);
  background-image: linear-gradient(#0065b1 50%, #0065b1 50%), linear-gradient(#d9e6f0 50%, #d9e6f0 50%);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 0 .1em, 100% .1em;
}
.readmore:hover {
  background-size: 100% .1em, 100% .1em;
}
.services {
  display: block;
  overflow: hidden;
  margin: auto;
  font-size: 0;
}
.services__item {
  display: inline-block;
  width: 33.33333%;
  vertical-align: top;
  padding: 0 20px 0 0;
  margin: 0 0 85px 0;
}
.services__item:before {
  content: '';
  display: block;
  width: 100px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: left bottom;
}
.services__item a {
  padding-bottom: 2px;
  color: #000;
  font-weight: lighter;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  background-image: -webkit-linear-gradient(#0065b1 50%, #0065b1 50%), -webkit-linear-gradient(#e3e3e7 50%, #e3e3e7 50%);
  background-image: -o-linear-gradient(#0065b1 50%, #0065b1 50%), -o-linear-gradient(#e3e3e7 50%, #e3e3e7 50%);
  background-image: linear-gradient(#0065b1 50%, #0065b1 50%), linear-gradient(#e3e3e7 50%, #e3e3e7 50%);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 0 .1em, 100% .1em;
}
.services__item a:hover {
  color: #0065b1;
  background-size: 100% .1em, 100% .1em;
}
.services__item-order {
  height: 195px;
  background: #000;
  background: #f2faff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.services__item-order:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 100%;
}
.services__item-order a {
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  font-size: 18px;
  color: #0065b1 !important;
  line-height: 24px;
  text-decoration: none;
  background-image: -webkit-linear-gradient(#0065b1 50%, #0065b1 50%), -webkit-linear-gradient(#7ec8ff);
  background-image: -o-linear-gradient(#0065b1 50%, #0065b1 50%), -o-linear-gradient(#7ec8ff);
  background-image: linear-gradient(#0065b1 50%, #0065b1 50%), linear-gradient(#7ec8ff);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 0 .1em, 100% .1em;
  -webkit-transition: background-size 0.1s;
  -moz-transition: background-size 0.1s;
  transition: background-size 0.1s;
}
.services__item-order a:hover {
  background-size: 100% .1em, 100% .1em;
}
footer {
  clear: both;
  display: block;
  overflow: hidden;
  border-top: 7px solid #bfc7dc;
  background: #657594;
}
.footer {
  overflow: hidden;
  padding: 30px 0;
  font-size: 13px;
  line-height: 16px;
  font-weight: lighter;
  text-align: center;
}
.footer p {
  margin: 0 0 15px 0;
}
.footer__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin: 0 0 5px 0 !important;
}
.footer__phone {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  line-height: 24px;
  margin: 0 !important;
}
.twitter {
  display: inline-block;
  position: relative;
  background: #fff;
  padding: 20px 80px 20px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.twitter:after {
  content: '';
  position: absolute;
  width: 520px;
  height: 520px;
  background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20%0D%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22600%22%20height%3D%22600%22%3E%0D%0A%20%20%3Ccircle%20fill%3D%22%23fff%22%20cx%3D%22301.5%22%20cy%3D%22299.5%22%20r%3D%22242.5%22/%3E%0D%0A%20%20%3Cpath%20fill%3D%22%23dbeef8%22%20d%3D%22M300%2C0C465.675%2C0%2C600%2C134.325%2C600%2C300S465.675%2C600%2C300%2C600%2C0%2C465.675%2C0%2C300C0%2C134.291%2C134.325%2C0%2C300%2C0ZM150.731%2C232.654l-0.217%2C9.559c0%2C97.631%2C74.3%2C210.131%2C210.168%2C210.131A209.2%2C209.2%2C0%2C0%2C0%2C473.9%2C419.164a155.4%2C155.4%2C0%2C0%2C1-17.633%2C1.065%2C148.335%2C148.335%2C0%2C0%2C1-91.717-31.6%2C73.953%2C73.953%2C0%2C0%2C0%2C68.992-51.308%2C75.484%2C75.484%2C0%2C0%2C1-13.916%2C1.283%2C73.857%2C73.857%2C0%2C0%2C1-19.462-2.565%2C73.932%2C73.932%2C0%2C0%2C0%2C59.253-72.416v-0.934a73.7%2C73.7%2C0%2C0%2C1-33.453%2C9.266%2C73.956%2C73.956%2C0%2C0%2C0%2C22.867-98.587A209.612%2C209.612%2C0%2C0%2C1%2C296.6%2C250.545a73.937%2C73.937%2C0%2C0%2C0-125.9-67.365%2C149.627%2C149.627%2C0%2C0%2C1-46.912-17.91%2C74.123%2C74.123%2C0%2C0%2C0%2C32.482%2C40.871%2C147.835%2C147.835%2C0%2C0%2C1-42.408-11.628A149.116%2C149.116%2C0%2C0%2C0%2C150.731%2C232.654Z%22/%3E%0D%0A%3C/svg%3E') center center no-repeat;
  background-size: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top: 50%;
  left: 750px;
  border: 20px solid #f5f7f9;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.twitter-timeline {
  font-size: 10px !important;
}
