<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="theme-color" content="#000000">
	<title>Pavel Rafeev | Frontend developer</title>
	<link rel="stylesheet" href="./css/style.css">
</head>
<body>
	<header>
		<div class="header header--top">
			<div class="wrapper">
				<ul class="topmenu">
					<li class="topmenu__item">
						<a href="#">О компании</a>
					</li>
					<li class="topmenu__item">
						<a href="#">Услуги</a>
						<ul class="topmenu-deep">
							<li class="topmenu-deep__item"><a href="#">Регистрация и ликвидация ООО, открытие счета в российских Банках</a></li>
							<li class="topmenu-deep__item"><a href="#">Регистрация и ликвидация европейских компаний, открытие счета в Банках ЕС</a></li>
							<li class="topmenu-deep__item"><a href="#">Комплексная проверка российских контрагентов</a></li>
							<li class="topmenu-deep__item"><a href="#">Кредитование и рефинансирование кредита российских компаний</a></li>
							<li class="topmenu-deep__item"><a href="#">Администрирование и юридическое сопровождение контрактов ВЭД</a></li>
						</ul>
					</li>
					<li class="topmenu__item">
						<a href="#">Контакты</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="header header--bottom">
			<div class="wrapper wrapper--auto-height">
				<a href="#" class="logo">ООО Агентство Экономической Безопасности</a>
				<div class="header-contacts">
					<a href="tel:8 800 599-58-94" class="header-contacts__phone">8 800 599-58-94</a>
					<p class="header-contacts__worktime">с 9:00 до 18:00 по МСК</p>
				</div>
			</div>
		</div>
	</header>